# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/

# Virtual environments
.venv/
venv/
env/

# Django
db.sqlite3
*.sqlite3
staticfiles/

# Environment variables
.env
.env.*

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Tests / cache
.pytest_cache/
.coverage
htmlcov/
